/*
BG Colors
*/
#title-body {
    background: #383838;
}
#menu-body {
    background: #383838;
}
#teach-body{
    background: #383838;
}
#teach_video-body {
    background: #383838;
}
#teach_text-body {
    background: #383838;
}
#race-body{
    background: #383838;
}
#reflex-body{
    background: #383838;
}
#help-body{
    background: #383838;
}
#help-race-body{
    background: #383838;
}
#help-reflex-body{
    background: #383838;
}
#help-teach-body{
    background: #383838;
}
/*
Title Page
*/
#title-logo {
    margin-top: 7%;
}
/*
Normal
*/
#title-proceed-button {
    background-color: lightgrey;
    width: 100px;
    height: 50px;
    color: black;
    margin-top: 3%;
    border-radius:15px;
}
/*
Hover
*/
#title-proceed-button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
    border-radius:15px;
}
/*
Active
*/
#title-proceed-button:active {
    background-color: black;
    width: 100px;
    height: 50px;
    color: white;
    border-radius:15px;
}
/*
Teach Page
*/
/*
Normal
*/
#teach-button-back {
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
#teach-button-video {
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 35%
}
#teach-button-text {
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
#teach-monitor {
    /*1.38 ratio*/
    width: 400px;
    height: 290px;
}
#teach-monitor-container {
    width: 410px;
    margin-right: 45%;
    margin-top: 5%;
}
#teach-page {
    width: 300px;
    height: 300px;
}
#teach-page-container {
    width: 310px;
    margin-left: 47%;
    margin-top: -23%;
    margin-bottom: 5%;
}
/*
Hover
*/
#teach-button-back:hover {
    cursor: pointer;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 15px;
}
/*
Active
*/
#teach-button-back:active {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}
/*
teach-video page
*/
/*
Normal
*/
#teach_video-button-back {
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
/*
Hover
*/
#teach_video-button-back:hover {
    cursor: pointer;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 15px;
}
/*
Active
*/
#teach_video-button-back:active {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}
/*
teach-text page
*/
#teach_text-image-3 {
    width: 250px;
    height: 250px;
}
/*
Normal
*/
#teach_text-button-back {
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
/*
Hover
*/
#teach_text-button-back:hover {
    cursor: pointer;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 15px;
}
/*
Active
*/
#teach_text-button-back:active {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}
/*
Menu Page
*/
#menu-logo-container {
    float: right;
    margin-right: 20px;
}
#menu-buttons {
    margin-top: 160px;
}
/*
normal
*/
#menu-buttons-teach {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
    margin-top: 32px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-reflex {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-race {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-help {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-exit {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
/*
Hover
*/
#menu-buttons-teach:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#menu-buttons-reflex:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-race:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-help:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-exit:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
/*
Active
*/
#menu-buttons-teach:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#menu-buttons-reflex:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-race:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-help:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-exit:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
/*
Race Page
*/
#race-body{
    padding: 10px;
}
#race-content-container{
    color: white;
    text-align: center;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 50px;
}
#race-content-word{
    margin-top: 50px;
    margin-bottom: 50px;
}
#race-content-data{
    padding-top: 13%;
    padding-bottom: 13%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    background-color: grey;
}
#race-content-prompt{
    padding-top: 17%
}
/*
Normal
*/
#race-buttons-back {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10%;
}
/*
Hover
*/
#race-buttons-back:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
/*
Active
*/
#race-buttons-back:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
/*
Relfex Page 
*/
#reflex-body {
    padding: 10px;
}
#reflex-text-container{
    color: white;
    font-family: "Helvetica", Helvetica, sans-serif;
}
#reflex-content {
    float: right;
    margin-right: 14.5%;
    margin-top: 21%;
    font-size: 50px;
}
#reflex-stats {
    float: left;
    padding-left: 7%;
    padding-top: 10.5%;
    padding-bottom: 10.5%;
    padding-right: 7%;
    background: grey;
    font-size: 50px;
    margin-top: 8%;
}
#reflex-stats-last {
    margin-bottom: 5px;
}
#reflex-stats-best {
    margin-bottom: 5px;
}
/*
Normal
*/
#reflex-button-back {
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 23%;
    margin-top: 9%;
}
/*
Hover
*/
#reflex-button-back:hover {
    cursor: pointer;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 15px;
}
/*
Active
*/
#reflex-button-back:active {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}
/*
Help Page
*/
#help-body{
    margin: 25px;
}
#help-text{
    font-size: 30px;
    color: white;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Helvetica", Helvetica, sans-serif;
    background: grey;
}
#help-buttons-container{
    margin-top: 10%;
}
/*
Normal
*/
#help-buttons-teach {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-back {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;  
    margin-top: 5px;  
}
#help-buttons-race {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-reflex {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
/*
Hover
*/
#help-buttons-teach:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-back:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-race:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-reflex:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
/*
Active
*/
#help-buttons-teach:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-back:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-race:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#help-buttons-reflex:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}