/*
BG Colors
*/
#title-body {
    background: #383838;
}
#menu-body {
    background: #383838;
}
#teach-body{
    background: #383838;
}
#race-body{
    background: #383838;
}
/*
Title Page
*/
#title-proceed-button {
    background-color: lightgrey;
    width: 100px;
    height: 50px;
    color: black;
    margin-top: 100px;
    border-radius:15px;
}
#title-proceed-button:active {
    background-color: black;
    width: 100px;
    height: 50px;
    color: white;
    border-radius:15px;
}
#title-proceed-button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
    border-radius:15px;

}
/*
Teach Page
*/
#teach-video-container {
    width: 90%;
}
#teach-button-container{
    height:100%;
}
#teach-button-back {
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
#teach-button-back:hover {
    cursor: pointer;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 15px;
}
#teach-button-back:active {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}
/*
Menu Page
*/
#menu-logo-container {
    float: right;
    margin-right: 20px;
}
#menu-buttons {
    margin-top: 160px;
}
/*
normal
*/
#menu-buttons-teach {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
    margin-top: 32px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-reflex {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-race {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-help {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
#menu-buttons-exit {
    background-color: lightgrey;
    color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    margin-bottom: 2px;
}
/*
Hover
*/
#menu-buttons-teach:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#menu-buttons-reflex:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-race:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-help:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-exit:Hover {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
/*
Active
*/
#menu-buttons-teach:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;    
}
#menu-buttons-reflex:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-race:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-help:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
#menu-buttons-exit:active {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
/*
Race Page
*/
#race-content-container{
    color: white;
    text-align: center;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 50px;
}
#race-content-word{
    margin-top: 50px;
    margin-bottom: 50px;
}
#race-content-data{
    margin-top: 13%;
    margin-left: 5%;
    float: left;
}